### Q1. Give a recursive definition of the function P(C).

    P(C) = max( P(C-w[0]) + p[0], P(C-w[1]) + p[1], ... , P(C-w[n-1]) + p[n-1])

### Q2. Draw the subproblem graph for P(14) where n is 3 with the weights and profits given below.

### Q3. Give a dynamic programming algorithm to compute the maximum profit, given a knapsack of capacity C, n types of objects with weights wi and profits pi using the bottom up approach.

In [34]:
import pandas as pd
weight = [4, 6, 8]
profit = [7, 6, 9]

In [35]:
def knapsack_dp(C, weight, profit, n):
    # Initialise the DP table
    # Values are all initialised to 0 but in actuality, only row 0 and col 0 will be 0
    V = [[0 for i in range(C + 1)] for i in range(n + 1)]
    
    # Construct the table in a bottom up manner
    for i in range(1, n + 1): # Iterate through the ROWS (Dictates the capacity limit we set)
        for w in range(1, C + 1): # Iterate through the COLS (Dictates the number of objects we can consider)
            if weight[i-1] <= w: # If the weight of object is less than the capacity limit
                # Max value of the two possible options
                # 1: We DO NOT include the i'th object -> V[i-1][w]
                # 2: Even if we include that instance, still can include its multiple instance
                V[i][w] = max(V[i-1][w], V[i][w-weight[i-1]] + profit[i-1])
            else:
                V[i][w] = V[i-1][w]
    return V[n][C], V 

# TIME COMPLEXITY: O(numOfObjects * weights)
# SPACE COMPLEXITY: O(numOfObjects * weights) -> essential

### Q4. Code your algorithm in a programming language
    a. show the running result of P(14) with weights and profits given in (2). 
    b. Show the running result of P(14) with weights and profits given below.

In [36]:
ans,array = knapsack_dp(14, weight, profit, 3)
print("######### Therefore the max profit is", ans, "#########")

######### Therefore the max profit is 21 #########

In [37]:
pd.DataFrame(array)

   0   1   2   3   4   5   6   7   8   9   10  11  12  13  14
0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
1   0   0   0   0   7   7   7   7  14  14  14  14  21  21  21
2   0   0   0   0   7   7   7   7  14  14  14  14  21  21  21
3   0   0   0   0   7   7   7   7  14  14  14  14  21  21  21

In [38]:
weight = [5, 6, 8]
profit = [7, 6, 9]

In [39]:
ans,array = knapsack_dp(14, weight, profit, 3)
print("######### Therefore the max profit is", ans, "#########")

######### Therefore the max profit is 16 #########

In [40]:
pd.DataFrame(array)

   0   1   2   3   4   5   6   7   8   9   10  11  12  13  14
0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
1   0   0   0   0   0   7   7   7   7   7  14  14  14  14  14
2   0   0   0   0   0   7   7   7   7   7  14  14  14  14  14
3   0   0   0   0   0   7   7   7   9   9  14  14  14  16  16